<div class="top-wrapper">
  <h1 class="top-title">Welcome to Arata Aoshima's Portfolio</h1>
   <h4>About</h4>
  <div class="about-wrapper">
   
    <h5>All the website is build on Ruby on Rails with Javascript and Jquary. As for HTML&CSS framework,Bootstrap and Materialize. 
    There are also creations with Google App Script, however those are not published here because they are confidential to my clients.
    Most apps are developped with AWS for database, Heroku for server and cloud9 for coding.
    </h5>
    <img src="/pandc.jpg" alt="My Image" width="270" height="270" style="border-radius:50%;" class="profile-picture">
  </div>
  <h4>Creation</h4>
  <div class="row card-deck">
  
      <div class="card show_hero" class="col-md-4 col-sm-4 col" >
        <img class="card-img-top" src="/cpu.jpeg" alt="Card image cap">
         <div class="hero_content">
          <a href="https://ruby-on-rails-development-memo.herokuapp.com/" target="_blank">
            Ruby on Rail 開発メモ</br>
            サイトはこちら
          </a> 
        </div>
      </div>
      
       <div class="card show_hero" class="col-md-4 col-sm-4" >
        <img class="card-img-top" src="/top4.jpg" alt="Card image cap">
         <div class="hero_content">
          <a href="https://vote-for-good.herokuapp.com/" target="_blank">
            投票アプリ</br>
            サイトはこちら
          </a> 
        </div>
      </div>
      
       <div class="card show_hero" class="col-md-4 col-sm-4" >
        <img class="card-img-top" src="/news.jpg" alt="Card image cap">
         <div class="hero_content">
          <a href="https://news-intro-arata.herokuapp.com" target="_blank">
          　ニュースサーキュレーション</br>
            サイトはこちら
          </a> 
        </div>
      </div>
  </div>
  <div class="row card-deck">
  
      <div class="card show_hero" class="col-md-4 col-sm-4 col" >
        <img class="card-img-top" src="/photoapp.jpeg" alt="Card image cap">
         <div class="hero_content">
          <a href="https://arata-photo-app.herokuapp.com" target="_blank">
          　写真管理アプリ</br>
            サイトはこちら
          </a> 
        </div>
      </div>
      
       <div class="card show_hero" class="col-md-4 col-sm-4" >
        <img class="card-img-top" src="/chat.jpg" alt="Card image cap">
         <div class="hero_content">
          <a href="https://polar-ravine-77342.herokuapp.com/" target="_blank">
            チャットアプリ</br>
            サイトはこちら
          </a> 
        </div>
      </div>
      
       <div class="card show_hero" class="col-md-4 col-sm-4" >
        <img class="card-img-top" src="/blog.jpg" alt="Card image cap">
         <div class="hero_content">
          <a href="https://news-intro-arata.herokuapp.com" target="_blank">
          　掲示板サイト</br>
            サイトはこちら
          </a> 
        </div>
      </div>
  </div>
</div>